
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
       ViewData=@(((DateTime)ViewData["data1"]).ToShortDateString()) <br/>
       ViewBage=@ViewBag.data2.ToShortDateString()<br/>
    </div>
</body>
</html>
